.main-bg-img {
	background-image: url('./IMG/Fono_paveikslėliai/zydras_fonas_apacioje.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0% 60%;
}

.card-columns {
	display: inline-block;
}

.card-img-top {
	height: 200px;
	width: auto;
}

.card-text {
	text-align: left;
}


