/* Header */

#title {
    font-family: "Bodoni MT";
    color: #ff9916;
    -webkit-text-stroke: 1.5px black;
}

.display-title{
    font-size: 5rem;
}

#headerLogo{
    width: 300px;
}

header {
    /* height: 300px; */
    background-image: url(IMG/Fono_paveikslėliai/zydras_fonas.png);
    text-align: center;
}

.nav-item {
    font-family: "Bodoni MT";
    font-size: 25px;
    float: center;
    width: 20%;
    margin: 0 auto;
    padding: 0px;
    color: black;
    background-image: url(IMG/Fono_paveikslėliai/rozinis_fonas.png);
    background-position: center;
    
}

.nav-link {
    color: black !important;
}
.nav-item:hover {
    background-image: url(IMG/Fono_paveikslėliai/geltonas_fonas.png);
}
.nav-link:hover {
    background-image: url(IMG/Fono_paveikslėliai/geltonas_fonas.png);
}

.col-12 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

@media (min-width: 768px) { 
    .display-title{
        font-size: 8rem;
    }
}

/* Footer */

.footer-bg-img {
	background-image: url('./IMG/Fono_paveikslėliai/zydras_fonas_apacioje.png');
	background-size: 100%;
	background-position: 0% 60%;
	background-repeat: no-repeat;
}

@media screen and (max-width: 600px) {
	.footer-bg-img {
		background-position: bottom;
	}
}


@media only screen and (max-width: 800px) {
    .nav {
         display: block; 
  }
  .nav-item{
    width: 100%;
  }
}
