/* spalvos */

/* HEADER */

/* NAV */

/* MAIN */

/*FOOTER*/

.footer-bg-img {
	background-image: url('./IMG/Fono_paveikslėliai/zydras_fonas_apacioje.png');
	background-size: 100%;
	background-position: 0% 60%;
}
