/* spalvos */

/* HEADER */


#title { 
    font-family: "Bodoni MT";
    font-size: 180px;

} 



#headerLogo{
    
    width: 300px;
    height: 300px;
    
}
header {
    /* height: 300px; */
    background-image: url(IMG/Fono_paveikslėliai/zydras_fonas.png);
    text-align: center;

}

    

#navigation {
    margin-top: -15px;
    margin-left: -32px;
}
.nav-item {
    font-family: "Bodoni MT";
    font-size: 30px;
    float: left;
    border-style: solid;
    width: 20%;
    margin: 0 auto;
    padding: 0px;
    border-color: black;
    color: black;
    border-radius: 5px;
    background-image: url(IMG/Fono_paveikslėliai/rozinis_fonas.png);
    background-position: center;
}


.nav-link {
    color: black !important;
}
.nav-item:hover {
    background-image: url(IMG/Fono_paveikslėliai/geltonas_fonas.png);
}
.nav-link:hover {
    background-image: url(IMG/Fono_paveikslėliai/geltonas_fonas.png);
}

.col-12 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}


}


/* NAV */

/* MAIN */

/*FOOTER*/
.main-bg-img {
	background-image: url('../Astrologijos_puslapis/IMG/Fono_paveikslėliai/zydras_fonas_apacioje.png');
	background-size: 100%;
	background-position: 0% 60%;
}


.footer-bg-img {
	background-image: url('./IMG/Fono_paveikslėliai/zydras_fonas_apacioje.png');
	background-size: 100%;
	background-position: 0% 60%;
	background-repeat: no-repeat;
}

@media screen and (max-width: 600px) {
	.footer-bg-img {
		background-position: bottom;
	}
}
