.main-bg-img {
	background-image: url('./IMG/Fono_paveikslėliai/zydras_fonas_apacioje.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0% 60%;
}


.container#table {
    height: 100%;
    padding: 30px 0 0 0;
    border: 1px solid #d1d1d1;
    box-shadow: 0px 0px 8px 1px #d1d1d1;
    border-radius: 4px;
    background-image: url("../../IMG/Suderinamumo_img/sirdutes.png");
}


.hide {
    display: none;
}

.show {
    display: block; 
}

.form-select {
    width: 50%;
    margin: 0 auto;
    padding: 0px;
}


